/* En este campo hacemos que la etiqueta <body> 
se el coloque un color de fondo y un formato 
de tipo de letra */
body{
    background-color: #00aae4;
    font-family: 'Times New Roman', Times, serif;
}

/* En este campo hacemos que la etiqueta <div>
se el coloque un color de fondo, un border,
padding, width 60% y margin */
div{
    background-color: white;
    border: 1px solid black;
    padding: 12px;
    width: 60%;
    margin: 0 auto;
}

/*Llamamos a la clase .info para alinear
el texto en el centro*/
.info{
    text-align: center;
}

/* En este campo hacemos que la etiqueta
<fieldset> se coloca un margin-bottom de 12px */
fieldset{
    margin-bottom: 12px;
}

/* En este campo hacemos que la etiqueta <legend>
se coloca un background-color, padding de 5 px,
border-radius de 20 px y font-weight en bold */
legend{
    background-color: #74b49b;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

/* La etiqueta <fieldset> y <legend> se coloca
un background-color para cada ves que el puntero
pase encima cambie de color */
fieldset legend:hover{
    background-color: #b2d4c7;
}

/* La etiqueta < img> se coloca una width de 110px,
un height en auto, un border-radius de 50%, 
margin-left de 70px y float con valor left */
img{
    width: 110px;
    height: auto;
    border-radius: 50%;
    margin-left: 70px;
    float: left;
}

/* Llamamos a la clase .table para colocar un width
al 100%, un border a 1px con una color white, un
border-collapse con valor collapse para agrupar
las celdas, un margin de 0, un padding de 0 y
table-layout con valor fixed */
.table{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

/* Llamamos a la clase .table y la etiqueta <tr> para
colocar un background-color con valor #ffffff y una
borde de 1px con un color #74b49b */
.table tr{
    background-color: #ffffff;
    border: 1px solid #74b49b;
}

/* Llamamos a la clase .table y las etiquetas <tr> y <tb>
 para colocar  font-size de 16px, un padding de 8px y un
 text-align en center */
.table tr , .table td{
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

/* Llamamos a la clase .table y la clase .iteasm para
colocar un backgraund-color de valor #b2d4c7 */
.table .iteam{
    background-color: #b2d4c7;
}

/* Llamamos a la clase .table y la etiqueta <tr> se
coloca un background-color para cada ves que el puntero
pase encima cambie de color */
.table tr:hover{
    background-color: #808080;
}

/* Llamamos a la clase .table y la etiqueta <td> se coloca
un background-color para cada ves que el puntero pase encima
cambie de color */
.table td:hover{
    background-color: rgba(255, 255, 255, 0.63);
}